/*----- griddery v2.0 (NEW) -----*/
[griddery-cont]{
    display:table;
    width:100%;
}

[griddery-tr]{
    display:table-row;
}

[griddery-col]{
    display:table-cell;
    vertical-align:top;
}

[griddery-item]{
    display:flex;
    justify-content:center;
}

[griddery-item] * {
    flex:1;
}

/*----- griddery v1.0 (OLD) -----*/
.col-tr {
    display:table-row;
}

.col-column {
    display:table-cell;
    vertical-align:top;
    width:1%;
}

.col-item {
    display:block;
}
